:root {
    --primary-brand-color-iris: #4D5AE5;
    --button-dark-blue: #404BBF;
    --dark-navy-blue: #2E2F42;
    --success: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--slate);
}

/* menu section */
.header-tag {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 72px; */
    
}

.nav-box {
    display: flex;
    
}

.address-box {
    margin-left: auto;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    /* display: flex; */
    margin-right: 70px;
    padding: 24px 0;

    text-transform: uppercase;
    text-decoration: none;
}

.logo-web {
    color: var(--primary-brand-color-iris);
    display: inline-block;
}

.logo-studio {
    color: var(--dark-navy-blue);
    display: inline-block;
    
}

.logo-studio-cloud {
    color: var(--cloud);
}

.top-menu {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    
    display: flex;
    align-items: center;
}

.top-menu .top-menu-items {
    margin-right: 40px;
}

.top-menu .top-menu-items:last-child {
    margin-right: 0;
}

.top-menu-link {
    text-decoration: none;
    color: var(--dark-navy-blue);
    padding: 24px 0;
}

.top-menu-link:hover,
.top-menu-link:focus {
    /* color: var(--slate); */
    color: var(--primary-brand-color-iris);
}

.top-menu-link:active {
    color: var(--primary-brand-color-iris);
}

.current-page {
    color: var(--primary-brand-color-iris);
}

.contact {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate)

}

.contact:hover,
.contact:focus {
    color: var(--primary-brand-color-iris);
}

/* Main Page (main style) */

.hero {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;

    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;
}

.baner {
    background-color: var(--dark-navy-blue);
    text-align: center;

    padding-top: 192px;
    padding-bottom: 192px;
}

.header-sections {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--dark-navy-blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.features {
    display: flex;
    
}

.features .features-list {
    margin-right: 24px;
}

.features .features-list:last-child {
    margin-right: 0;
}

.header-items {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
    margin: 0 0 8px 0;
}

.text-items {
    color: var(--slate);
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.similar {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.services {
    padding-top: 0;
}


.our-services {
    display: flex;
    justify-content: center;
    /* gap: 0 24px; */
}

.our-services .services-list:not(:last-child) {
    margin-right: 24px;
}

.our-team {
    background-color: var(--cloud);

}

.team-cards {
    display: flex;
    justify-content: center;
}

.team-cards .people {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
}

.team-cards .people:last-child {
    margin-right: 0;
}

.team-title {
    text-align: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.images {
    display: block;
}

/* Buttons */
.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: var(--primary-brand-color-iris);
    cursor: pointer;
    
    border: none;
    border-radius: 4px;
    padding: 16px 32px;

}

.filter .button {
    color: var(--primary-brand-color-iris);
    
    border: 1px solid var(--cornflower);
    background-color: var(--cornflower);
    padding: 8px 16px;
}

.filter-box {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--button-dark-blue);
    
}

.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter .button:hover,
.filter .button:focus {
    border: 1px solid var(--primary-brand-color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-box .button-list {
    margin-right: 24px;
}

.filter-box .button-list:last-child {
    margin-right: 0;
}

/* Portfolio page style */

.filter .container {
    box-sizing: content-box;
}

.filter-items-link {
    
    text-decoration: none;
}

.header-items-link {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-navy-blue);
    margin: 0;
}

.paragraph-link {
    text-decoration: none;
    color: var(--slate);
    margin: 8px 0 0 0;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}

.examples .examples-list {
    margin-right: 24px;
    margin-bottom: 48px;

    
}

.examples .examples-list:nth-child(3n+3) {
    margin-right: 0;
}

.examples .examples-list:not(:nth-last-child(1n+4)) {
    margin-bottom: 0;
}

.examples-text {
  
    padding-left: 16px;
    padding-top: 30px;
    padding-bottom: 32px;

    border-bottom: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* Footer */
.dark-footer { 
    background-color: var(--dark-navy-blue);
    color: #FFFFFF;

    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-slogan {
    width: 264px;
    margin: 0;
}

.slogan-text {
    margin: 0;
    margin-top: 16px;
}